.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    padding: 1rem;
    color: white;
    margin-inline: auto;
    
    h1 {
        text-align: center;
    }
    
    p {
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.9rem;
        transition: all 0.2s;

    }
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    flex: 1;
}

.forgotPassword:hover, .noAccont:hover {
    color: rgb(204, 204, 204);
    text-decoration: none; 
}

.logo {
    width: 70px;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.inputs {
    display: grid;
    gap: 0.7rem;

    label {
        display: grid;
        gap: 0.3rem;
        font-size: 0.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    input {
        border: 1px solid #c9c9c9;
        border-radius: 6px;
        padding: 0.2rem;
        font-size: 1.1rem;
    }
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.byMe {
    align-self: center;
    color: white;
}

.noAccont {
    text-align: center;
}

.forgotPassword {
    text-align: right;
    margin-bottom: 2rem;
}