.card {
    width: 330px;
    display: grid;
    min-width: 300px;
    border-radius: 8px;
    padding: 1rem;
    color: white;
    margin-inline: auto;
    margin-top: 6rem;
    
    h1 {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    p {
        text-decoration: underline;
        cursor: pointer;
        font-size: 1.1rem;
    }
}

.logo {
    width: 70px;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.inputs {
    display: grid;
    gap: 0.7rem;

    label {
        display: grid;
        gap: 0.3rem;
        font-size: 0.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    input {
        border: 1px solid #c9c9c9;
        border-radius: 6px;
        padding: 0.2rem;
        font-size: 1.1rem;
    }
}

.btn {
    background-color: #6666ff;
    border: none;
    font-size: 1.2rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
        transform: scale(1.03);
        box-shadow: 2px 2px #c9c9c9;
        background-color: #aaaaff;
        text-decoration: underline;
    }
}

.byMe {
    color: white;
    justify-self: center;
    align-content: flex-end;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.noAccont {
    text-align: center;
}

.forgotPassword {
    text-align: right;
    margin-bottom: 2rem;
}