.list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 500px;
    padding: 0.3rem;
}

.ftDescription {
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}