.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1rem;

    img {
        width: 70px;
    }
}

.opt {
    display: flex;
    justify-content: space-around;
    width: 450px;
    align-items: center;

    a {
        text-decoration: none;
        color: #c4c4c4;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.9rem;
        transition: 0.2s;
        
        &:hover {
            color: #dbdbdb;
            transform: scale(1.05);
        }
    }
}

.divMain {
    text-align: center;
    display: grid;

    h1 {
        font-size: 3.5rem;
        background: linear-gradient(to right, white, #c4c4c4);

        background-clip: text;
        -webkit-background-clip: text;

        color: transparent;
        -webkit-text-fill-color: transparent;
    }

    & > div {
        display: grid;
        gap: 1rem;
    }
}

.mainDescription {
    background: linear-gradient(to right, white, #c4c4c4);
    margin: auto;
    background-clip: text;
    color: transparent;
    width: 500px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
    div {
        background: linear-gradient(to right, white, #c4c4c4);
        background-clip: text;
        color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease;
        
        &:hover {
            transform: translateY(-2px);
        }
    }
    
    button {
        color: #c4c4c4;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: 0.2s ease;
        background: linear-gradient(135deg,#4f46e5,#7c3aed);
        box-shadow: 0 0 20px rgba(79, 70, 229, 0.6), 0 0 40px rgba(79, 70, 229, 0.3);

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 2px black;
        }

    }
}