.container {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    transition: all 0.3s;

    width: 250px;
    background: linear-gradient(135deg, #4f46e5,#7c3aed);
    box-shadow: 0 0 10px #4f46e5;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.sidebarCollapsed {
    width: 70px;
    
    .contentuser {
        visibility: hidden;
    }
}

.contentuser {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.navSidebar {
    flex: 1;
}

.exit {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    gap: 0.8rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.2s;
    border-bottom-right-radius: 16px;
}

.exit:hover {
    background-color: rgba(255, 255, 255, 0.329);
}

.menu {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    cursor: pointer;
}