html,
body,
#root {
  height: 100%;
  display: grid;
  align-content: flex-start;
  /* justify-content: center; */
}

body {
  margin: 0;
  background-color: #18181b;
}

* {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}