html,
body,
#root {
  height: 100%;
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
}

body {
  margin: 0;
  background-color: #18181b;
}

* {
  outline: none;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}