* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18181b;
  min-height: 100vh;
}

* {
  outline: none;
}

h1, h2, h3, h4, h5, h6, table {
  font-family: 'Space Grotesk', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

p, a {
  font-family: 'Inter', sans-serif;
}